					.tabela-notas {
						border-collapse: collapse;
						margin: 0 auto;
					}

					.tabela-cedulas-row-head {
						background-color: #8f8f8f;
						font-weight: bold;
						font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
					}
					
					.tabela-cedulas-row {
						background-color: #ffffff;
						font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
					}

					.tabela-header {
						border: 1px solid black;
						padding: 8px;
						text-align: center;
			
					}

					.text-header {
						border: 1px solid black;
						padding: 2px;
						text-align: center;
						font-family: Arial, Helvetica, sans-serif;
						background: linear-gradient(to right, #00ffff 0%, #3399ff 100%);
						margin-left: auto;
						margin-right: auto;
						height: 40px;
						width: 600px;
					}
					
					.center-table {
						margin-left: auto;
						margin-right: auto;
					}

					.subtext {
						border: 1px solid black;
						padding: 1px;
						text-align: center;
						font-family: Arial, Helvetica, sans-serif;
						background: linear-gradient(to right, #ff6600 0%, #ffff99 100%);
						margin-left: auto;
						margin-right: auto;
						height: 30px;
						width: 280px;
					}

					.text-header-form {
						border: 1px solid black;
						padding: 1px;
						text-align: center;
						font-family: Arial, Helvetica, sans-serif;
						background: linear-gradient(to right, #00cc66 0%, #66ff99 100%);
						margin-left: auto;
						margin-right: auto;
						width: 110px;
					}

					.div {
						height: 100px;
						width: 250px;
					}

					.margin {
						margin: 10px;
					}

					.button {
						border-radius: 6px;
						font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
						font-size: 15px;
						background: linear-gradient(to left, #ffffff 23%, #66ffff 71%);
						margin-left: 20px;
					}
					
					.text-type {
						border-radius: 3px;
						font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
						font-size: 16px;
						margin: auto;
						width: auto;
					}

					.text {
						padding: 5px;
						text-align: center;
						font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
						margin-left: auto;
						margin-right: auto;
					}

					body {
						background: linear-gradient(to bottom, #00ccff 0%, #ccffff 80%);
					}

					td {
						margin: 15px, 0px;
					}

				